:root {
--cols: ;
--rows: cols+2;
}

body {
margin: 0;
font-family: Helvetica, sans-serif;
background-color: white;
}

p, h1, h2 {border: 0; margin: 0; padding: 0;}

h1 {
font-size: 25px;
font-weight: 800;
}

h2 {
font-size: 14px;
color: black;
text-align: center;
margin: 10px;
}

@media(min-width: 500px) { h2 { margin: 20px; } }
@media(min-width: 800px) { h2 { margin: 20px; } }

hr {
width: 100%;
margin: 0;
}

.ads {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: nowrap;
margin: auto;
padding: 5px;
min-height: 60px;
color: black;
text-align: center;
}

@media(min-width: 500px) { .ads { height: 100px; } }
@media(min-width: 800px) { .ads { height: 120px; } }

.top {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
flex-wrap: nowrap;
padding: 2.5px 0px 7.5px 0px;
min-height: 75px;
color: black;
border-top: 1px inset gray;
border-bottom: 1px inset gray;
background-color: #f5ef73;
}

@media(min-width: 500px) { .top { height: 100px; } }
@media(min-width: 800px) { .top { height: 120px; } }

.logo {
height: 5vh;	
}

.options {
text-align: center;	
}

.title {
flex-grow: 0;
font-family: inherit;
font-size: 3.95vh;
font-weight: bold;
letter-spacing: -.05em;
text-align: center;
margin: 0;
font-family: American Typewriter, serif;
}

@media(min-width: 500px) { .title { font-size: 4.25vh; } }
@media(min-width: 800px) { .title { font-size: 4.25vh; } }

.bottom {
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
flex-wrap: nowrap;
text-align: center;
min-height: 100px;
color: black;
border-top: 1px inset gray;
border-bottom: 1px inset gray;
//padding: 15px 0;
}

.details {
margin-left: 10%;
margin-right: 10%;
}

.main {
max-width: 500px;
margin: 0 auto;
height: calc(100% - 100px);
display: flex;
flex-direction: column;
padding: 0 25px;
}

.container {
display: flex;
justify-content: center;
align-items: center;
flex-grow: 1;
overflow: hidden;
}

.board {
margin: auto;
display: grid;
grid-template-rows: repeat(var(--rows), 1fr);
grid-gap: 10px;
padding: 10px;
box-sizing: border-box;
width: calc(var(--cols)*60px);
min-width: 300px;
background-color: #76c1fa;
//background: linear-gradient(180deg, #76c1fa 82.5%, black 18.5%);
}

.row {
display: grid;
grid-template-columns: repeat(var(--cols), 1fr);
grid-gap: 10px;
}

.cell {
margin: 0;
border-bottom: 1px inset gray;
border-right: 1px inset gray;
padding: 0;
font-family: American Typewriter, serif;
width: 100%;
display: inline-flex;
justify-content: center;
align-items: center;
font-size: 2.5rem;
line-height: 1;
font-weight: bold;
vertical-align: middle;
box-sizing: border-box;
background-color: #f5ef73;
color: #c72c20;
text-transform: uppercase;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
min-height: 1.05em;
}

.answer {
background-color: black;
}

.empty {
background-color: #c72c20 !important;
}

.guess {
margin: 15px auto 15px auto;	
}

.reveal {
text-align: center;
margin-top: 10px;
font-family: American Typewriter, serif;
font-size: 2.5rem;
color: orange;
}

.button {
background-color: #c72c20;
color: #f5ef73;
padding: 10px 20px;
text-align: center;
text-decoration: none;
text-transform: uppercase;
display: inline-block;
font-size: 15px;
}

.highlight {
border: 2.5px solid black;
box-shadow: 0 0 7px black;
max-height: 1.05em;
}

.ad_unit { width: 320px; height: 40px; }
@media(min-width: 500px) { .ad_unit { width: 468px; height: 60px; } }
@media(min-width: 800px) { .ad_unit { width: 728px; height: 90px; } }

.ad_img { max-width: 100%; }