html {
-webkit-text-size-adjust: 100%;
}

body{
font-family: Helvetica;
background-color: #f1f2d8;
font-size: 1.0rem;
margin: 5px;
}

form{
margin: auto;
padding: 5px 10px 5px 10px;
background-color:  #ffffff;
border: solid 2px #425955;
}

legend{
font-size: 16px;
text-align: center;  
}

#position{
font-size: 18px;
text-align: center;  
}

#hand{
margin: 20px 0 20px 0;
}

p{
margin: 5px 0 5px 0;
}

h1 {
font-size: 1.1rem;
font-weight: bold;
margin: 10px 0 10px 0;
padding: 2px;
}

h3 {
font-size: 0.9rem;
font-weight: bold;
margin: 9px 0 9px 0;
border-bottom: 2px solid gray;
}

table {
margin-top: 10px;
width: 100%;
border-spacing: 1px;
}

th {
background-color: #e3e3e3;
}

td {
padding: 1.5px 0px 1.5px 0px;
line-height: 1.45rem;
font-size: 1.125rem;
}

#cards tr:nth-child(odd) {
background-color: white;
}

#cards tr:nth-child(even) {
background-color: #e3e3e3;
}

#cards td {
text-align: center;
}

img {
height: 15.0vw;
max-height: 100px;   
vertical-align: text-bottom;
margin: 1.5px;
}

.red {
color: red;
}

.suit {
font-size: .9rem;
}

.tool_tip .title {
position: inherit;
background: silver;
padding-left: 5px;
font-size: .75rem;
}

.clear {
margin-bottom: 30px;
}

.hide {
display: none;
margin-bottom: 30px;
}
