body, p, div {
    font-family: inherit;
    font-size: 14px;
}
body {
    color: #000000;
	background: ghostwhite;
}
body a {
    color: #1188E6;
    text-decoration: none;
}
p { 
    margin: 0;
    padding: 0;
}
h1{
    font-size: 20px;
}
ul{
    margin: 0px;
    padding: 0px;
}
ul li{
    display: inline-block;
    cursor: pointer;
    max-width: 75px;
    width: auto;
    height: 100px;
}
ul li img{
    width: 100%;
    height: 100%;
}
/*
img.max-width {
    max-width: 100% !important;
}
*/
#show_image_popup{
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    max-width: 800px;
}
#show_image_popup img{
    max-width: 100%;
    max-height: calc(100vh);
    border: 1px solid #333;
}

#all-images .active{
    /*filter: blur(5px);*/
}

.wrapper {
    border: 2px solid black;
    width: 100%; 
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    display: flex;
    align-items: center;
    background-color: #fbf7f5;
    padding: 10px 15px 10px 15px; 
}
.header-image {
    max-height: 75px;
    margin-right: 10px;
}
.greeting {
    font-size: 30px; 
    color: #1E792C;
    font-style: oblique;
    font-weight: 900;
	text-shadow: 1px 1px 2px #c60f0f;
}
.main{
    padding: 15px; 
    text-align: center; 
    background-color: #c60f0f;
}
.main-image{
    max-width: 95%;
    margin-top: 10px; 
    margin-bottom: 10px; 
}
.message {
    color: #fbf7f5; 
    font-size: 28px; 
    line-height: 28px; 
}
.content {
    padding: 10px 20px 10px 20px; 
    line-height: 20px; 
    text-align: inherit; 
    background-color: #fbf7f5;
    color: #1E792C;
    font-size: 14px;
}
.title {
    border-bottom: solid; 
    border-bottom-style: groove;
}
.first-letter {
    font-size: 200%;
    color: #c60f0f;
    font-style: italic;
}
.photos {
    padding: 20px 0 15px 0; 
}
.signature {
    font-style: oblique;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.2;
	color: #c60f0f;
}
.divider {
    margin: 0 25px 5px 25px; 
    border-bottom: solid; 
    border-bottom-style: groove;
}
.footer {
    text-align:center; 
    margin-bottom: 15px; 
}
@media screen and (max-width:480px) {


}